<table>
    <tr>
        <td><b>Lane 1</b></td>
        <td ng-repeat="item in device.c8y_Lane1">
                <table>
                    <tr>
                      <td><img width="150" src="{{device.c8y_base64_image}}"></td> 
                   </tr><tr>                   
                       <td align="middle"><b>{{item}}</b></td>
                    </tr>
                 </table>
          </td>
        </tr>
  </table>
  
  <table height="30"></table>
  <table>
    <tr>
        <td><b>Lane 2</b></td>
        <td ng-repeat="item in device.c8y_Lane2">
                <table>
                    <tr>
                      <td><img width="150" src="{{device.c8y_base64_image}}"></td> 
                   </tr><tr>                   
                       <td align="middle"><b>{{item}}</b></td>
                    </tr>
                 </table>
          </td>
        </tr>
  </table>
  
  <table height="30"></table>
  <table>
    <tr>
        <td><b>Lane 3</b></td>
        <td ng-repeat="item in device.c8y_Lane3">
                <table>
                    <tr>
                      <td><img width="150" src="{{device.c8y_base64_image}}"></td> 
                   </tr><tr>                   
                       <td align="middle"><b>{{item}}</b></td>
                    </tr>
                 </table>
          </td>
        </tr>
  </table>
  
  <table height="30"></table>
  <table>
    <tr>
        <td><b>Lane 4</b></td>
        <td ng-repeat="item in device.c8y_Lane4">
                <table>
                    <tr>
                      <td><img width="150" src="{{device.c8y_base64_image}}"></td> 
                   </tr><tr>                   
                       <td align="middle"><b>{{item}}</b></td>
                    </tr>
                 </table>
          </td>
        </tr>
  </table>